<?xml version="1.0"?>
<model>
  <name>x500_mono_cam_down</name>
  <version>1.1</version>
  <sdf version="1.9">model.sdf</sdf>
  <author><name>OpenAI Codex</name><email>n/a</email></author>
  <description>Workspace override of x500_mono_cam_down with unobstructed downward camera pose.</description>
</model>
